header{
  background-color: transparent;
  position:absolute;
  top:0;
  left:0;
  z-index:200;
  transition: background-color 0.3s ease;
  width:100%;
}

nav{
  width:80%;
  margin:0 auto;
  padding:45px 0;
  align-items: center;
}

.home{
  width:20%;
  font-weight: 600;
  font-size: 20px;
  margin-right: 165px;
}

ul{
  width:40%;
}

ul li{
  margin-right: 32px;
  font-size: 14px;
  font-weight: 400;
}

ul li a:hover{
  border-bottom: 2px white solid;
}

ul li a,
.home{
  color:#fff;
  letter-spacing: 0.2em;
  line-height: 16px;
  text-transform: uppercase;
}

